# Copy to env.ps1 and fill in credentials: cp env.ps1.template env.ps1

$env:OS_AUTH_URL         = "https://identity.api.bgo.nrec.no:5000/v3"
$env:OS_USERNAME         = "YOUR_USERNAME@your-institution.no"
$env:OS_PASSWORD         = "YOUR_PASSWORD"
$env:OS_USER_DOMAIN_NAME = "dataporten"
$env:OS_PROJECT_NAME     = "YOUR_PROJECT_NAME"
$env:OS_PROJECT_DOMAIN_NAME = "dataporten"
$env:OS_REGION_NAME      = "bgo"
$env:OS_IDENTITY_API_VERSION = 3
$env:OS_INTERFACE        = "public"
